blockquote{
    background-color: lightgrey;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
}

div.figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}
#postamble {
    position: fixed;
    bottom: 0;
    right: 15px;
}

#postamble a {
    margin-bottom: 20px;
    display: inline-block;
}


#text-7 {
    text-align:center;
    font-size:3.5em;
}